<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Mapc's Blog</title>
</head>
<body style="background-color: floralwhite">
    <style>
        p {
            font-size: 160%;
            border: 500px;
            text-align:center;
            position: relative;
            top: 1000px;
        }
    </style>
    <h1 style="background-color: blue">Hello, my friend</h1>
    <ul>Наши контакты:</ul>
    <li>
        <em> VK
            <a href="https://vk.com/mapc2705">ссылка</a>
        </em>
    </li>
    <li>
        <strong>
            Instagram <a href="https://www.instagram.com/mapcmatch">ссылка</a>
        </strong>
    </li>
    <li>
        GitHub <a style="color: green" href="https://github.com/Mapc27/django">ссылка</a>
    </li>
    <p>
        <br> Тут
        <br> Я
        <br> Перехожу
        <br> На
        <br> Другую
        <br> Строку <br>
        <br> Shamil eblan
        <br> Pozdravlyau s pokupkoy
        <p style="color: blue; border:2px solid Tomato;"> Когда в Казань на своей лайбе приедешь? </p>

    </p>
</body>
</html>