<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Этот веб-портал создан Марселем для угнетения чувств Шомиля">
    <title>Шамиль, ты гандон</title>
</head>
<body>
    <div>
    <style>
        p {
            font-size: 160%;
            border: 500px;
            text-align:center;
            position: relative;
            top: 1000px;
        }
    </style>
        <h1 style="text-align: center">Приветствую тебя, искатель</h1>
        <h2 style="text-align: center">Пролистай в конец</h2>
        <p>А теперь иди отсюда</p>
    </div>
</body>
</html>